{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/inicial.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: century gothic;
            background-color: #f2f2f2;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h1 style="margin-left: 5%;">Neuron Hub</h1>
        <div class="options">
            <a style="background-color: #00BFFF;" href="{% url 'core_website:cadastro_novo_negocio' %}">Cadastrar</a>
            <a style="color: rgb(70,70,70);" href="{% url 'core_website:login' %}">Entrar</a>
        </div>
    </div>
    <div class="image-container">
        <img src="{% static 'img/imagem_2.jpg' %}">
        <div class="overlay-text">
            <h1>Construindo conexões seguras,</h1>
            <h1>impulsionando negócios com inteligência.</h1>
        </div>
    </div>
</body>
</html>
